{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmelden</title>
</head>
<body>
<header>
    <h1 class="title">Anmelden</h1>
</header>
<main>
        <div class="card">
            <div class="form-container">
                <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Anmelden</button>
                    </form>
                <p>Stattdessen <a href="{% url 'signup' %}">Registrieren</a></p>
            </div>
        </div>
</main>
</body>