{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'users.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feeds.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<header>
    <div class="grid-header">
        <h1 class="title">Verifizierung</h1>
        <div class="profile">
            <a href="{% url 'user' request.user.id %}"><img src="{% static 'svgs/account.svg' %}" height="40px"/></a>
        </div>
    </div>
</header>
<main>
    <div class="grid-buttons grid-buttons-detail">
        <a href="{% url 'user_group' user.id %}" class="crud-button back">
            <img src="{% static 'svgs/back.svg' %}" height="25px"/>
        </a>
    </div>
    <div class="card">
        <form class="form-container" method="post">
            <div>
                {% csrf_token %}
                <button name="verified" type="submit">Aktualisieren</button>
            </div>
        </form>
    </div>
</main>