{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feeds.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Feed Erstellen" %}</title>
</head>
<body>
<header>
    <div class="grid-header">
        <h1 class="title">{% translate "Feed Erstellen" %}</h1>
        <div class="profile">
            <a href="{% url 'user' request.user.id %}"><img src="{% static 'svgs/account.svg' %}" height="40px"/></a>
        </div>
    </div>
</header>
<main>
    {% if perms.feeds.add_feed %}
        <div class="grid-buttons grid-buttons-detail">
            <a href="{% url 'feeds' %}" class="crud-button back">
                <img src="{% static 'svgs/back.svg' %}" height="25px"/>
            </a>
        </div>
        <div class="card">
            <form class="form-container" method="POST">
                <div>
                    {% if request.user.warns.count < 3 %}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">{% translate "Posten" %}</button>
                    {% else %}
                        <div class="no-perm">
                            <p>{% translate "Dein Konto wurde gesperrt!" %}</p>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    {% else %}
        <div class="no-perm">
            <p>{% translate "Zugriff verweigert" %}</p>
        </div>
    {% endif %}
</main>
</body>