{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feeds.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
<header>
    <h1 class="title">Feed Erstellen</h1>
    <div class="profile">
        <a href="/account/"><img src="{% static 'svgs/account.svg' %}" height="40px" /></a>
    </div>
</header>
<main>
    <div class="grid-buttons grid-buttons-detail">
        <a href="{% url 'feeds' %}" class="crud-button back">
            <p><</p>
        </a>
    </div>
    <div class="card">
        <form class="form-container" method="POST">
            <div>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Posten</button>
            </div>
        </form>
    </div>
</main>
</body>