{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feeds.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<header>
    <h1 class="title">Home</h1>
    <div class="profile">
        <a href="{% url 'user' request.user.id %}"><img src="{% static 'svgs/account.svg' %}" height="40px"/></a>
    </div>
</header>
<main>
    {% if perms.feeds.add_feed %}
        <div class="grid-buttons grid-buttons-home">
            <a href="{% url 'feed_create' %}" class="crud-button create">
                <img src="{% static 'svgs/add.svg' %}" height="25px"/>
            </a>
        </div>
    {% endif %}
    {% if perms.feeds.view_feed %}
        <div class="grid-feeds">
            {% for feed in feeds %}
                <a href={% url 'feed' feed.id %}>
                    <div class="card feed">
                        <div class="author">
                            {% if feed.author.first_name != "" and feed.author.last_name != "" %}
                                <p class="fulname">{{ feed.author.first_name }} {{ feed.author.last_name }}</p>
                            {% else %}
                                <p class="fulname">Unknown</p>
                            {% endif %}
                            <p class="email">{{ feed.author.email }}</p>
                        </div>
                        <div class="text">
                            <p>{{ feed.text }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-perm">
            <p>Zugriff verweigert</p>
        </div>
    {% endif %}
</main>
<footer>

</footer>
</body>