.grid-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 50px 50px;
    grid-template-rows: 50px;
        margin: 10px 0;
}

.grid-buttons-home {
    grid-template-areas:
        ". . . create";
}

.grid-buttons-detail {
        grid-template-areas:
        "back . update delete";
}

.crud-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
}

.back {
    grid-area: back;
    background-color: #003f72;
}

.delete {
    grid-area: delete;
    background-color: #890611;
    display: flex;
}

.delete input {
    width: 100%;
    border-width: 0;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.update {
    grid-area: update;
    background-color: #003f72;
}

.create {
    grid-area: create;
    background-color: #003f72;
}

.grid-feeds {
    display: grid;
    grid-gap: 20px;
}

.feed {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "author"
        "text";
    padding: 12px;
}

.feed a, .feed p, .commentary a, .commentary p {
    text-decoration: none;
    color: black;
}

.feed .commentary-author {
    grid-area: author;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "answer"
        "fulname"
        "email";
}

.feed .author {
    grid-area: author;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "fulname"
        "email";
}

.author .fulname {
    font-weight: bold;
    grid-area: fulname;
    display: flex;
    align-items: center;
}

.author .email {
    grid-area: email;
    display: flex;
    align-items: center;
    color: #727272
}

.feed .text {
    grid-area: text;
}

.grid-commentaries {
    display: grid;
    grid-gap: 20px;
}

.commentary {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 50px 1fr;
    grid-template-areas:
        "answer"
        "author"
        "text";
    padding: 12px;
}

.commentary .author {
    grid-area: author;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "fulname"
        "email";
}

.commentary .answer {
    grid-area: answer;
    font-size: 0.8rem;
}

.commentary .answer p {
    color: #727272
}

.commentary .answer .answer-email {
    text-decoration: underline;
    color: #003f72;
}