{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feeds.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
<header>
    <h1 class="title">Detail Kommentar</h1>
    <div class="profile">
        <a href="{% url 'user' request.user.id %}"><img src="{% static 'svgs/account.svg' %}" height="40px" /></a>
    </div>
</header>
<main>
    <div class="grid-buttons grid-buttons-detail">
        <a href="{% url 'feed' commentary.feed.id %}" class="crud-button back">
            <p><</p>
        </a>
        <a href="{% url 'commentary_update' commentary.id %}" class="crud-button update">
            <p>/</p>
        </a>
        <form class="delete" action="{% url 'commentary_delete' commentary.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="-" />
        </form>
    </div>
    <div class="card commentary">
        <div class="answer">
            <p>Antwort an <a href="{% url 'feed' commentary.feed.id %}" class="answer-email">{{ commentary.feed.author.email }}</a></p>
        </div>
        <a href="{% url 'user' commentary.author.id %}" class="author">
            {% if commentary.author.first_name != "" and commentary.author.last_name != "" %}
                <p class="fulname">{{ commentary.author.first_name }} {{ commentary.author.last_name }}</p>
            {% else %}
                <p class="fulname">Unknown</p>
            {% endif %}
            <p class="email">{{ commentary.author.email }}</p>
        </a>
        <div class="text">
            <p>{{ commentary.text }}</p>
        </div>
    </div>
</main>
</body>