header {
    height: 50px;
    background-color: #003f72;
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

.grid-header {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 50px;
    grid-template-areas:
        "title profile";
}

header .title {
    grid-area: title;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}


.profile a {
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1220px) {
    .grid-header {
        width: 1200px;
        margin: 0 auto;
    }
}