.text-bold {
    font-weight: bold;
}

.card {
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.card .form-container {
    padding: 20px 20px;
}

.card form {
}

.card form p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px;
    margin: 20px 0;
}

.card form p input, .card form select, .card form textarea {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    padding: 10px;
    resize: none;
}

.card form textarea {
    height: 75px;
}

.card form p select {

}

.card form .answer p {
    display: block;
    margin: 0;
}

.card form ul {
    margin-left: 20px;
}

.card form .errorlist {
    color: red;
}

.card form button {
    height: 50px;
    margin: 20px 0;
    background-color: #003f72;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    width: 100%;
}

.no-perm {
    margin: 20px 0;
    color: red;
    font-weight: bold;
    text-align: center;
}